<div id="lists-show">
  <div class="banner"
       style="<%= "background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(#{cl_image_path @list.photo.key})" if @list.photo.attached? %>">
    <h1><%= @list.name %></h1>
  </div>

  <div class="container">
    <div data-controller="bookmark-form">
      <button data-action="click->bookmark-form#toggleForm"
              data-bookmark-form-target="button">
        <i class="fa-solid fa-plus"></i>
      </button>

      <div id="bookmark-form" class="h-0" data-bookmark-form-target="form" data-show-bookmark-form="<%= @show_bookmark_form %>">
        <%= form_with model: [@list, @bookmark] do |f| %>
          <div class="form-content">
            <%= f.collection_select :movie_id, Movie.order(:title), :id, :title, { include_blank: "- Select a movie -" }, { data: { controller: "slim" } } %>
            <%= f.text_field :comment, placeholder: "add your comment here" %>
          </div>
          <%= f.submit class: "btn-default btn-main max-content" %>
        <% end %>
      </div>
    </div>

    <div class="movies">
      <% @list.bookmarks.each do |bookmark| %>
        <%= render "components/movie_card", bookmark: bookmark %>
      <% end %>
    </div>

    <%= render "components/reviews" %>
  </div>
</div>
