<div class="movie-card" data-aos="fade-up" data-aos-duration="1000">
  <%= image_tag bookmark.movie.poster_url %>
  <div class="content">
    <div class="title">
      <strong><%= bookmark.movie.title %></strong>
      <span>&bull; <%= bookmark.movie.rating.round(1) %></span>
      <i class="fa-solid fa-star text-smaller"></i>
    </div>

    <p class="text-smaller"><%= bookmark.movie.overview %></p>
  </div>
  <div class="footer">
    <span>“ <%= bookmark.comment %></span>
    <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete }, class: "text-inherit text-red" %>
    </div>
</div>
