<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# javascript_pack_tag "slim_select_2_4_2" %>
    <%# <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" /> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render "components/header" %>
    </header>

    <main data-controller="aos">
      <%= yield %>
    </main>
  </body>
</html>
